*{
    box-sizing: border-box;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
p{
    margin: 0;
}
.trans-slow{
    transition: .5s;
}

/* fonts size */
.fs-10{
    font-size: 10px;
}
.fs-12{
    font-size: 12px;
}


@keyframes slideTop {
    from{
        top: 100px;
        opacity: 0.5;
    }
}
