.card-items-number{
    width: 15px;
    height: 15px;
    background-color: #C79426;
    top: -3px;
    right: -5px;
    text-decoration: none;
    color: white;
    font-size: 80%;
}
.card-price{
    text-decoration: none;
    color: white;
}
