.change-password-form , .form {
    label{
        font-size: 90%;
    }
    input[type=text] {
        background: none !important;
        color: white;
        font-size: 86%;
        font-family: Arial, Helvetica, sans-serif;
        border: 1px solid #666;
        &::placeholder{
            color: white;
        }
    }
}