.product-card {
    img{
        transition: 1s;
        max-width: 80% !important;
        height: auto !important;
    }
    &:hover {
        img {
            transform:  scale(1.1);
        }
    }
}